<div class="jumbotron">
  <div class="container">
    <h1>Lunch & Learn</h1>
    <p>
    	Portal where ethode members can submit and vote on Lunch & Learn ideas.
    </p>
    <p>
      <a class="btn btn-primary btn-lg" href="/login" role="button">Sign Up <span class="fa fa-google-plus"></span></a>
    </p>
  </div>
</div>